@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CheatMealAddModel
@{
    ViewData["title"] = "Add cheat meals";
}

<div class="container">
    <h1>Add Cheat Meal</h1>
    <div class="text-lg-center">
    </div>
    <form asp-action="CheatMealHome" method="post">
        <div class="text-lg-center">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Cheat Meal Types</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(m => m.SelectedCheatMealType,
                        Model.CheatMealTypes.Select(cm => new SelectListItem(cm.Name, cm.Id.ToString())),
                        "",
                        new { Class = "form-control", id="selectItems", onchange = "handleSelection()" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-5">
                    <input type="date" name="Model.Created" class="form-control"
                           max="@DateTime.Today"
                           value="@Model.Created" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Meal Amount (g)</label>
                <div class="col-sm-5">
                    <input type="text" name="Model.MealAmount" value="@Model.MealAmount" />
                </div>
            </div>
            <input type="hidden" name="Model.UserId" value="@Model.UserId" />
            <input type="hidden" id="selectedCheatMealType" name="Model.SelectedCheatMealType" value="@Model.SelectedCheatMealType" />
            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <button id="btnAddCheatMeal" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function handleSelection() {
        var selectedValue = $('#selectItems').val();
        console.log('selected value: ' + selectedValue);
        $('#selectedCheatMealType').val(selectedValue);
    }
</script>

