@using FitnessAppEnterprise.Models.Enums
@model CountModel
@{
    ViewData["Title"] = "Home Page";
    int workoutParam = (int)ActivityType.Workout;
    int cheatMealParam = (int)ActivityType.CheatMeals;
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome To FitnessTracker - @ViewData["userName"]</h1>
    
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">Workout Days</h3>
                </div>
                <div class="card-body text-center">
                    <a asp-controller="Details" asp-action="Details" asp-route-id="@workoutParam">
                        <span class="h3">@Model.WorkoutCount</span>
                    </a>
                    <a asp-controller="Workout" asp-action="AddWorkout" class="btn btn-link">Add Workout</a>
                </div>
            </div>
        </div>
        
        <div class="col-5">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">Cheat Meal Days</h3>
                </div>
                <div class="card-body text-center">
                    <a asp-controller="Details" asp-action="Details" asp-route-id="@cheatMealParam">
                        <span class="h3">@Model.CheatMealCount</span>
                    </a>
                    <a asp-controller="CheatMeal" asp-action="CheatMealHome" class="btn btn-link">Add Cheat Meal</a>
                </div>
            </div>
        </div>
    </div>
    

</div>
